<div class="row" style="padding:10px">
  <div class="col-xs-12 col-md-12 col-lg-6 col-xl-6" style="padding-top:10px;padding-bottom:10px">
    <div class="card">
      <div class="card-header text-center"><span style="color:#fff">HIGHEST PERFORMING AD SPACES</span></div>
      <app-pub-linechart></app-pub-linechart>
    </div>
  </div>

  <div class="col-xs-12 col-md-12 col-lg-6 col-xl-6" style="padding-top:10px;padding-bottom:10px">
    <div class="card">
      <div class="card-header text-center"> <span style="color:#fff">HIGHEST GROSSING CONTRACTS</span> </div>
      <app-pub-barchart></app-pub-barchart>
    </div>
  </div>
</div>
