a {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  color: #4b80c0;
}
a:hover,
a:focus {
  color: #3b70af;
}

.router-link-active {
  color: #4b80c0 !important;
}

.nav-link {
  cursor: pointer;
  font-size: 13.5px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.nav-link:hover,
.nav-link:focus:hover {
  color: #4b80c0 !important;
}

.nav-link > span {
  margin: 0 4px;
}

.menubar-link:hover,
.menubar-link:focus:hover {
  color: white !important;
}


.navbar.navbar-toggleable-sm.navbar-inverse.fixed-top {
  background-color: #304F76;
  padding-left: 65px;
  padding-top: 9px;
}

.navbar.navbar-toggleable-sm.navbar-inverse.fixed-top.navlinks {
  background-color: white;
  min-height: 60px;
  margin-top: 83px;
  padding-left: 36px;
  padding-top: 12px;
 }

#menubar-body li a {
  line-height: 60px;
}

#navbar-links li a {
  padding: 0 24px;
  color: black;
  line-height: 30px;
}

#mobileMenu1 {
  margin-top: 10px;
}
