<nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top navlinks bottom-border">
    <button id="mobileMenu2" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-links" style="margin-top: 8px">
        <i class="fa fa-bars" style="color: black" aria-hidden="true"></i>
    </button>

    <div id="navbar-links" class="navbar-collapse collapse">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" routerLinkActive="router-link-active" routerLink="/dashboard">
                    <span class="zmdi zmdi-home"></span>
                    Dashboard
                </a>
            </li>

            <li>
                <a class="nav-link" routerLinkActive="router-link-active" routerLink="/marketplace">
                    <span class="zmdi zmdi-globe-alt"></span>
                    Marketplace
                </a>
            </li>

            <li>
                <a class="nav-link" routerLinkActive="router-link-active" routerLink="/create">
                    <span class="zmdi zmdi-collection-text"></span>
                    Create
                </a>
            </li>

            <li>
                <a class="nav-link" routerLinkActive="router-link-active" routerLink="/profile">
                    <span class="zmdi zmdi-collection-text"></span>
                    Profile
                </a>
            </li>
        </ul>
    </div>
</nav>


<nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menubar" id="mobileMenu1" style="margin-top: 18px">
        <span class="fa fa-bars" aria-hidden="true"></span>
    </button>

    <a routerLink="/dashboard" class="navbar-brand" style="cursor: pointer">
        <img src="assets/images/Qchain_logo_bg.png" alt="Qchain logo" width="122px" height="58px">
    </a>

    <div id="menubar" class="navbar-collapse collapse">

        <ul id="menubar-body" class="navbar-nav mr-auto">

            <li class="list-inline-item notification-list">
                <a><span class="noti-icon"></span></a>
            </li>

            <li class="list-inline-item notification-list">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-secondary" [ngStyle]="bgcolorActiveCurrency('EQC')" (click)="ethereumActivated()">
                        <img src="assets/images/Ethereum_logo.png" alt="Ethereum logo" width="22px" height="25px">
                        <span style="font-size: 15px; vertical-align: middle">EQC</span>
                    </button>

                    <button type="button" class="btn btn-sm btn-secondary" [ngStyle]="bgcolorActiveCurrency('XQC')" (click)="nemActivated()">
                        <img src="assets/images/NEM_logo.png" alt="NEM logo" width="30px" height="25px">
                        <span style="font-size: 15px; vertical-align: middle">XQC</span>
                    </button>
                </div>
            </li>

            <li class="list-inline-item notification-list" style="margin-left: 18px">
                <div class="dropdown">
                    <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 120px; height: 35px; font-weight: 300; line-height: 0.5rem; margin-left: -4px">
                        {{ dropdownElement }}
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button type="button" class="dropdown-item" (click)="setAdvertiser()">Advertiser</button>
                        <button type="button" class="dropdown-item" (click)="setPublisher()">Publisher</button>
                    </div>
                </div>
            </li>

            <li class="list-inline-item notification-list" style="margin-left: 18px; margin-top: 4px">
                <button type="button" class="btn btn-sm btn-secondary">Testnet XQC faucet</button>
            </li>

        </ul>

        <ul class="nav navbar-nav" style="margin: 6px 36px 0 0; color: #eeeeee">
            <li>
                <span class="zmdi zmdi-account" style="color: #eeeeee; font-size: 18px; margin: 2px 4px 0 0"></span>
            </li>

            <li>
                <span style="font-size: 13.5px">{{ user.name }}</span>
            </li>

            <li style="margin: 0 8px">&nbsp;</li>

            <li>
                <a class="menubar-link fa fa-sign-out" style="color: #eeeeee; cursor: pointer; font-size: 20px; margin-top: 3px" aria-hidden="true" title="Log out" (click)="auth.logout()"></a>
            </li>
        </ul>

    </div>

</nav>
