<div class="wrapper">
  <div class="container">
    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">

        <ul class="sidebar-nav" style="padding-top:39px;">
          <li>
            <div class="container" style="margin-left:0px">
              <div class="cox-xs-12" style="padding:10px">
                <form (ngSubmit)="onSubmit()">
                    <!-- <li><div class="form-group">
                      <select class="custom-select"  name="adtype"  (change)="updateAdtype($event.target.value)">
                      <option selected value="Banner Top">Banner Top</option>
                      <option value="Banner Left">Banner Left</option>
                      <option value="Banner Right">Banner Right</option>
                      <option value="Popup">Popup</option>
                      </select>
                  </div></li> -->
                  <li style="font-size: 15px; font-weight: bold">
                    Ad Genre:
                  </li>
                  <li>
                    <div class="form-group">
                      <select class="custom-select" name="genre" (change)="updateGenre($event.target.value)" >
                        <option selected value="Movies">Movies</option>
                        <option value="Gaming">Gaming</option>
                        <option value="Auto">Auto</option>
                        <option value="Dining">Dining</option>
                        <option value="Native">Native</option>
                      </select>
                    </div>
                  </li>

                  <li>
                    <span style="font-size: 15px; font-weight: bold">CPC:</span> {{rangeValues2[0] + ' - ' + rangeValues2[1]}}
                  </li>
                  <li style="margin: 0 0 24px 28px; width: 70%">
                    <p-slider class="form-group" [(ngModel)]="rangeValues2" [min]="10" [max]="50"  [range]="true"name="slider1" ></p-slider>
                  </li>

                  <li>
                    <span style="font-size: 15px; font-weight: bold">CPM:</span> {{rangeValues3[0] + ' - ' + rangeValues3[1]}}
                  </li>
                  <li style="margin: 0 0 24px 28px; width: 70%">
                    <p-slider class="form-group" [(ngModel)]="rangeValues3" [min]="5" [max]="50" [range]="true"name="slider2"></p-slider>
                  </li>

                  <!-- <li style="font-size: 15px; font-weight: bold">
                    Start Date
                  </li>
                  <li>
                    <div>
                      <input class="form-group" type="date" [ngModel] ="dt1 | date:'yyyy-MM-dd'" (ngModelChange)="dt1 = $event" name="startDate" [value]="dt1 | date:'yyyy-MM-dd'">
                    </div>
                  </li>

                  <li style="font-size: 15px; font-weight: bold">
                    End Date
                  </li>
                  <li>
                    <div>
                      <input type="date" class="form-group" [ngModel] ="dt2 | date:'yyyy-MM-dd'" (ngModelChange)="dt2 = $event" name="endDate" [value]="dt2 | date:'yyyy-MM-dd'">
                    </div>
                  </li> -->

                  <li style="margin-top:10px">
                    <button type="submit" class="btn btn-primary">Filter</button>
                  </li>
                </form>
              </div>
            </div>
          </li>
          </ul>

      </div>
      <!-- sidebar-wrapper -->


      <!-- Page Content -->
      <div id="page-content-wrapper" style="padding-top:44px;padding-left:100px;">

        <div class="container-fluid">
          <h3 style="margin-top: 18px">Available Adspaces</h3>

          <ng-container *ngIf="filterUsed">
            <div class="row" *ngFor="let i of array">
              <div class="card-format">
                <div class="card-block">
                  <h4 class="card-title"><span class="label label-default">{{selectedList[i]["genre"]}}</span> <span class="label label-success">{{ selectedList[i]["adtype"] }}</span> {{selectedList[i]["name"]}} </h4>
                  <p class="card-text">{{selectedList[i]["msg"]}}</p>
                  <h5>CPC : {{selectedList[i]["cpi"]}}  {{selectedList[i]["currency"]}}</h5>
                  <h5>CPM : {{selectedList[i]["cpm"]}}  {{selectedList[i]["currency"]}}</h5>
                  <h6>Posted Date : {{selectedList[i]["ask_date_from"]}}</h6>
                  <a style="color:white" class="btn btn-primary disabled">Contact {{selectedList[i]["username"]}} &gt; </a>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="!filterUsed && isNotEmpty">
            <div class="row" *ngFor="let i of array2">
              <div class="card-format">
                <div class="card-block">
                  <h4 class="card-title"><span class="label label-default">{{adspaceListings[i]["genre"]}}</span>  <span class="label label-success">{{ adspaceListings[i]["adtype"] }}</span> {{adspaceListings[i]["name"]}}</h4>
                  <p class="card-text">{{adspaceListings[i]["msg"]}}</p>
                  <h5>CPC : {{adspaceListings[i]["cpi"]}}  {{adspaceListings[i]["currency"]}}</h5>
                  <h5>CPM : {{adspaceListings[i]["cpm"]}}  {{adspaceListings[i]["currency"]}}</h5>
                  <h6>Posted Date : {{adspaceListings[i]["ask_date_from"]}}</h6>
                  <a style="color:white" title="This feature is temporarily disabled and will be re-enabled when we open account registrations." class="btn btn-primary disabled">Contact {{adspaceListings[i]["username"]}} &gt; </a>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!isNotEmpty">
            <div class="card-format">
              <div class="card-block">
                <h4>No Adspaces match the filters provided</h4>
              </div>
          </div>
        </ng-container>
        </div>

      </div>

        <!-- /#page-content-wrapper -->
    </div>
  </div>
</div>
