<div class="row" style="margin: 18px"></div>
<!-- Page-Title -->
<div class="row" style="margin: 42px 0 0 3px">
    <div class="col-sm-12">
        <h5 style="font-size: 24px">Last 24 Hours</h5>
    </div>
</div>
<div class="row flexrow" style="margin-bottom: -10px">
    <div class="col">
        <div class="card-format">

        </div>
    </div>

    <div class="col" >
        <div class="card-format">

        </div>
    </div>

    <div class="col" >
        <div class="card-format">

        </div>
    </div>

    <div class="col">
        <div class="card-format">

        </div>
    </div>

    <div class="col">
        <div class="card-format">

        </div>
    </div>
</div>        <!-- end row -->
<hr>
