<div class="form-container">
    <div class="col-xs-12">
    <h2 style="margin: 60px 0 36px 14px">Create an Adspace Listing</h2>
    <div *ngIf="submitted" class="alert alert-info" style="margin-left: 14px">This feature is temporarily disabled and will be re-enabled when we open account registrations.</div>
    <form  (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
      <div class="col-lg-6">
      <div class="form-group">
        <label for="website" style="font-size: 15px; font-weight: bold">Website:</label>
        <input class="form-control" id="website" placeholder="Enter the name of your website" ngModel name="website" >
      </div>
      <div class="form-group">
        <label for="Name" style="font-size: 15px; font-weight: bold">Adspace Name:</label>
        <input class="form-control" id="adspaceName" placeholder="Enter the name of your adspace" name="adspace" ngModel >

      </div>

      <div class="form-group">
        <label for="exampleSelect2" style="font-size: 15px; font-weight: bold">Choose Adspace Types: </label> <br>
          <select class="custom-select" name="adtype" ngModel>
          <option  value="Banner Top" selected>Banner Top</option>
          <option value="Banner Left">Banner Left</option>
          <option value="Banner Right">Banner Right</option>
          <option value="FullScreen Takeover">FullScreen Takeover</option>
          </select>
      </div>
      </div>
      <div class="col-lg-6">
      <div class="form-group">
        <label for="genre" style="font-size: 15px; font-weight: bold"> Ad Genre: </label> <br>
          <select class="custom-select" name="genre" ngModel>
          <option  value="Movies" selected>Movies</option>
          <option value="Gaming">Gaming</option>
          <option value="Forums">Forums</option>
          <option value="Forums">Dining</option>
          <option value="Other">Other</option>
          </select>
      </div>

        <div class="form-group">
          <label for="height" style="font-size: 15px; font-weight: bold"> Height: </label>
          <input class="form-control" style="width:37%" id="adspace_height" placeholder="Enter the height in pixels" name="height" ngModel>

          <br>

          <label for="width" style="font-size: 15px; font-weight: bold"> Width: </label>
          <input class="form-control" style="width:37%" id="adspace_width" placeholder="Enter the width in pixels" name="width" ngModel>
        </div>
        <div class="form-group">
          <label for="currency" style="font-size: 15px; font-weight: bold">Token:</label> {{currencyType}}
        </div>
      <button type="submit" class="btn btn-primary disabled" title="This feature is temporarily disabled and will be re-enabled when we open account registrations.">Submit</button>
        </div>
    </form>

    </div>
</div>
