<div class="row" style="margin: 18px"></div>
<!-- Page-Title -->
<div class="row" style="margin: 42px 0 0 3px">
    <div class="col-sm-12">
        <h5 style="font-size: 24px">Last 24 Hours</h5>
    </div>
</div>
<div class="row flexrow" style="margin-bottom: -10px">
    <div class="col" >
        <div class="card-format">
            <span id="labelContent2" class="float-right label label-success"> +13.46% </span>
            <h6 class="text-muted text-uppercase m-b-20">Impressions</h6>
            <h2 id="cardContent2" style="display: inline; font-size: 27px" >{{ advertiserStats?.impressions }}</h2>
        </div>
    </div>

    <div class="col" >
        <div class="card-format">
            <span id="labelContent3" class="float-right label label-success"> +4.57% </span>
            <h6 class="text-muted text-uppercase m-b-20">Clicks</h6>
            <h2 id="cardContent3" style="font-size: 27px">{{ advertiserStats?.clicks }}</h2>
        </div>
    </div>
    <div class="col" >
        <div class="card-format">
            <span id="labelContent12" class="float-right label label-danger"> -1.57% </span>
            <h6 class="text-muted text-uppercase m-b-20">CPM</h6>
            <h2 id="cardContent12" style="display: inline; font-size: 27px" *ngIf="isEqc()">41.5653832</h2>
            <h2 id="cardContent13" style="display: inline; font-size: 27px" *ngIf="isXqc()">33.9283134</h2>
            <h5 class="text-muted" style="display: inline">{{ currencyType }}</h5>
        </div>
    </div>

    <div class="col">
        <div class="card-format">
            <h6 class="text-muted text-uppercase m-b-20">Expenses</h6>
            <h2 id="cardContent15" style="display: inline; font-size: 27px" *ngIf="isEqc()">13.8923392</h2>
            <h2 id="cardContent16" style="display: inline; font-size: 27px" *ngIf="isXqc()">10.6288212</h2>
            <h5 class="text-muted" style="display: inline">{{ currencyType }}</h5>
        </div>
    </div>

    <div class="col">
        <div class="card-format">
            <h6 class="text-muted text-uppercase m-b-20">Balance</h6>
            <h2 id="cardContent5" style="display: inline; font-size: 27px" *ngIf="isEqc()">{{ advertiserStats?.eqc_balance }}</h2>
            <h2 id="cardContent6" style="display: inline; font-size: 27px" *ngIf="isXqc()">{{ advertiserStats?.xqc_balance }}</h2>
            <h5 class="text-muted" style="display: inline">{{ currencyType }}</h5>
        </div>
    </div>
</div>        <!-- end row -->
<hr>
