<div class="form-container">
    <div class="col-xs-12">
    <h2 style="margin: 60px 0 36px 14px">Create an Ad Listing</h2>
    <div *ngIf="submitted" class="alert alert-info" style="margin-left: 14px">This feature is temporarily disabled and will be re-enabled when we open account registrations.</div>
    <form  (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
      <div class="col-md-6">
      <div class="form-group">
        <label for="Name" style="font-size: 15px; font-weight: bold">Ad Name</label>
        <input class="form-control" id="adName" placeholder="Enter the name of your ad" name="name" ngModel>
      </div>
      <div class="form-group">
        <label for="exampleSelect2" style="font-size: 15px; font-weight: bold">Choose Ad Types: </label> <br>
          <select class="custom-select" name="adtype" ngModel>
          <option selected value="Banner Top">Banner Top</option>
          <option value="Banner Left">Banner Left</option>
          <option value="Banner Right">Banner Right</option>
          <option value="FullScreen Takeover">FullScreen Takeover</option>
          </select>
      </div>
      </div>
      <div class="col-md-6">
      <div class="form-group">
        <label for="genre" style="font-size: 15px; font-weight: bold"> Ad Genre: </label> <br>
          <select class="custom-select" name="genre" ngModel>
          <option selected value="Movies">Movies</option>
          <option value="Gaming">Gaming</option>
          <option value="Forums">Forums</option>
          <option value="Forums">Dining</option>
          <option value="Other">Other</option>
          </select>
      </div>
        <div class="form-group">
          <label for="height" style="font-size: 15px; font-weight: bold"> Height: </label>
          <input class="form-control" style="width:37%" id="adspace_height" placeholder="Enter the height in pixels" name="height" ngModel>

          <br>

          <label for="width" style="font-size: 15px; font-weight: bold"> Width: </label>
          <input class="form-control" style="width:37%" id="adspace_width" placeholder="Enter the width in pixels" name="width" ngModel>
        </div>
        <div class="form-group">
          <label for="currency" style="font-size: 15px; font-weight: bold">Token:</label> {{currencyType}}
        </div>
      <button type="submit" title="This feature is temporarily disabled and will be re-enabled when we open account registrations." class="btn btn-primary disabled">Submit</button>
        </div>
    </form>
    </div>
</div>
