.cover-login {
  height: 100vh;
  background: url("https://qchain.co/img/core/bg-pattern.png"), linear-gradient(to left, #7b4397, #be335a);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login{
  padding: 30px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.67);
  box-shadow: 0 4px 30px 4px rgba(0, 0, 0, 0.5);
  transition: 250ms;
}

.auth0-lock-header-logo {
  width: 174px !important;
  height: 80px !important;
  margin-top: 10px !important;
}

.auth0-lock-overlay,
.auth0-lock-name,
.auth0-lock-badge-bottom,
.auth0-lock-header-bg {
  display: none !important;
}

a,
p,
span,
input,
.auth0-lock-social-button-text {
  font-family: 'Nunito Sans', 'Avenir', 'Arial', 'sans-serif' !important;
}

.auth0-lock-cred-pane,
.auth0-lock-header,
.auth0-lock-tabs {
  background-color: #fafafa !important;
}

.auth0-lock-header {
  border-bottom: 1px solid #dddddd !important;
}

.auth0-lock.auth0-lock .auth0-lock-input-wrap.auth0-lock-input-wrap-with-icon {
  padding-left: 0 !important;
}

.auth0-lock-submit:hover {
  background-color: #2C68A0 !important;
}

.auth0-label-submit > span {
  display: none !important;
}
