<div>
  <div style="display: block">
    <canvas baseChart style="padding: 12px"
            [datasets]="chooseChart()"
            [labels]="['Cont.6','Cont.2','Cont.1','Cont.5','Cont.8','Cont.9']"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="colors"
            (chartClick)="chartClicked($event)"
            *ngIf="isLoaded"></canvas>
  </div>
</div>
<div class="card-footer text-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-sm btn-secondary" [class.active]="isDayActive()" (click)="activeChart($event)" id="dailyChart">Weekly</button>
    <button type="button" class="btn btn-sm btn-secondary" [class.active]="isWeekActive()" (click)="activeChart($event)" id="weeklyChart">Monthly</button>
    <button type="button" class="btn btn-sm btn-secondary" [class.active]="isTimeActive()" (click)="activeChart($event)" id="monthlyChart">All Time</button>
  </div>
</div>
