<hr>
<div class="row" style="padding:10px">
<div class="col-xs-12 col-lg-12 col-xl-6" style="padding-top:10px;padding-bottom:10px">
    <div class="card-box">

        <h4 class="header-title m-t-0 m-b-30">Active Ad Spaces</h4>

        <div class="table-responsive" style="height: 320px" *ngIf="isLoaded">
            <table class="table table-bordered mb-0">
                <thead class="thead-default">
                <tr>
                    <th>Website</th>
                    <th>Ad Type</th>
                    <th>Ad Genre</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let website of publisherTables.websiteName;let i=index">
                  <th style="font-weight: normal">{{website}}</th>
                  <td>{{publisherTables.adType[i]}}</td>
                  <td>{{publisherTables.adGenre[i]}}</td>
              </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!-- end col-->


<div class="col-xs-12 col-lg-12 col-xl-6" style="padding-top:10px;padding-bottom:10px">
    <div class="card-box">

        <h4 class="header-title m-t-0 m-b-30">Active Contracts</h4>

        <div class="table-responsive" style="height: 320px"  *ngIf="isLoaded">
            <table class="table table-bordered mb-0">
                <thead class="thead-default">
                <tr>
                    <th>Advertiser</th>
                    <th>Start Date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let advertiser of publisherTables.advertiserName;let i=index">
                  <th style="font-weight: normal">{{advertiser}}</th>
                  <td>{{publisherTables.contractDate[i]}}</td>
              </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!-- end col-->
</div>
<!-- end row -->
