<canvas baseChart style="padding: 12px"
              [datasets]="chooseDataset()"
              [labels]="publisherCharts.lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              (chartClick)="chartClicked($event)" *ngIf="isLoaded"></canvas>
<div class="card-footer text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-sm btn-secondary " [class.active]="isRevenueActive" (click)="activeChart($event)" id="revenueChart">Revenue</button>
    <button type="button" class="btn btn-sm btn-secondary" [class.active]="isImpressionsActive" (click)="activeChart($event)" id="impressionsChart">Impressions</button>
    <button type="button" class="btn btn-sm btn-secondary" [class.active]="isClicksActive" (click)="activeChart($event)" id="clicksChart">Clicks</button>
    <button type="button" class="btn btn-sm btn-secondary" [class.active]="isRpmActive" (click)="activeChart($event)" id="rpmChart">RPM</button>
  </div>
</div>
